@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Nunito:wght@300;400;700&family=Supermercado+One&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  scroll-behavior: smooth;
}

:root {
  --thickness: 10px;
  --height: 50px;
}

body{
  background-color: aliceblue;
}
.clock-box{
  height: 100px;
  display: flex;
  place-items: center;
  place-content: center;
}

#clock {
  background: -webkit-linear-gradient(cadetblue, lightcoral);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#date {
  color: crimson;
}

.loader {
  border: var(--thickness) solid #f3f3f3; /* Light grey */
  border-top: var(--thickness) solid royalblue;
  border-bottom: var(--thickness) solid royalblue;
  border-radius: 50%;
  width: var(--height);
  height: var(--height);
  animation: spin 5s linear infinite;
}

.container{
  box-sizing: border-box;
}

.labelfield,.inputfield{
  font-size: 1.2rem;
}

.labelfield{
  min-width: 100px;
  text-align: center;
}

.inputfield{
  border: 1px solid black;
  border-radius: 1rem;
  outline: none;
  height: 35px;
  width: 180px;
  text-align: center;
}

.btn{
  color: white;
}

.textfield{
  min-height: 50px;
  font-size: .8rem;
  display: flex;
  place-content: center;
  place-items: center;
  
}
.del{
  height: 50px;
  width: 50px;
  border-radius: 5rem;
}

.label1{
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  background-color: #dddddd;
}
.label2{
  background-color:#e3e3e3;
}
.label3{
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  background-color: #dddddd;
}
.label4{
  background-color: #dddddd;
}

.bg-label{
  background-color:#e3e3e3;
}

#sub{
  margin-left: 7rem;
}

.show{
  display: block;
}

.hide{
  display: none;
}
.loginInput{
  width: 100px;
}
.del-items{
  margin: 0 auto;
  border-bottom: 2px solid black;
  padding: 10px 0px;
  width: 80%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}