@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Nunito:wght@300;400;700&family=Supermercado+One&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --thickness: 10px;
  --height: 50px;
}

body {
  position: relative;
  background-color: aliceblue;
}
li{
  margin: 15px 0px;
  cursor: pointer;
  text-decoration: underline;
}
.forgetpass{
  cursor: pointer;
}
.clock-box {
  height: 100px;
  display: flex;
  place-items: center;
  place-content: center;
}

#clock {
  background: -webkit-linear-gradient(cadetblue, lightcoral);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#date {
  color: crimson;
}

/* .loader {
  border: var(--thickness) solid #f3f3f3;
  border-top: var(--thickness) solid royalblue;
  border-bottom: var(--thickness) solid royalblue;
  border-radius: 50%;
  width: var(--height);
  height: var(--height);
  animation: spin 5s linear infinite;
} */
.navb {
  margin-top: 60px;
}


.nav-item h1 {
  text-transform: uppercase;
}

.container {
  box-sizing: border-box;
}

.labelfield,
.inputfield {
  font-size: 1.2rem;
}

.labelfield {
  text-transform: uppercase;
  min-width: 100px;
  text-align: center;
}

.inputfield {
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 1rem;
  outline: none;
  height: 35px;
  width: 180px;
  text-align: center;
}

.update_field {
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 1rem;
  outline: none;
  height: 35px;
  width: 90%;
  text-align: center;
  font-size: 0.7rem;
}

.btn {
  color: white;
}

.textfield {
  text-transform: uppercase;
  min-height: 50px;
  font-size: 0.8rem;
  display: flex;
  place-content: center;
  place-items: center;
}
.del,
.update {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.label1 {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: #dddddd;
}
.label2 {
  background-color: #e3e3e3;
}
.label3 {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #dddddd;
}
.label4 {
  background-color: #dddddd;
}

.bg-label {
  background-color: #e3e3e3;
}

#sub {
  margin-left: 7rem;
}

.show {
  display: block;
}

.update_form{
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}

.hide {
  height: 60px;
  visibility: visible;
  opacity: 1;
  transition: .3s;
}

.update_submit{
  font-size: 2.5rem;
  color: rgb(41, 100, 255);
  cursor: pointer;
}
.update_submit:hover{
  color: dodgerblue;
}

.loginInput {
  width: 100px;
}
.del-items {
  margin: 0 auto;
  border-bottom: 2px solid black;
  padding-bottom:10px ;
}
.log-txt i{
  font-size: 25px;
  transition: 0.5s;
}
.logString {
  height: 90vh;
  font-size: 10px;
  overflow-y: scroll;
}
.loginDiv,.forgotDiv,.signupDiv{
  transition: .5s;
}
.hideLogin{
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}
.back{
  padding: 5px 13px;
}
.back:hover{
  cursor: pointer;
  background-color: rgb(185, 185, 185);
  margin: auto 0;
  border-radius: 50%;
}

/* .logString {
  position: fixed;
  bottom:-43vh;
  left: 5%;
  background-color: lightblue;
  overflow: scroll;
  padding: 20px;
  border: 2px solid gray;
  font-size: 0.8rem;
  height: 50vh;
  width: 90%;
  visibility: visible;
  opacity: 0.9;
  transition: 0.5s;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
} */
.txt_shift{
  bottom: 0;
  transition: 0.5s;
}
.fa-angles-up {
  transition: 0.5s;
}

.rotate {
  transform: rotate(180deg);
  transition: 0.5s;
  color: red;
}
.forSee,
.forHide {
  min-width: 100px;
}
.welcome {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  place-content: center;
  place-items: center;
  margin: 0px auto 30px;
  height: 50px;
  position: fixed;
  width: 100%;
  top: -50px;
  z-index: 1;
  opacity: 0.9;
  transition: 1s;
}
.apear {
  top: 0px;
  transition: 1s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  0% {width: 100%;}
  100% {width: 0%;} 
} 
